cicd/src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fe1b9a40-faae-4441-8176-6f32360c0caa" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="86e82446-7536-4df4-a222-a75161169ee7" >
		<http:listener doc:name="Listener" doc:id="990f23a7-f3d6-4308-829c-2a9a679bf943" config-ref="HTTP_Listener_config" path="cicd"/>
		<set-payload value='#[message: "This is a sample API for cicd implementation"]' doc:name="Set Payload" doc:id="f6bff266-2d0f-4026-b7ec-61d4686f512e" />
	</flow>
</mule>
